article, aside, figure, figcaption, footer, header, hgroup, nav, section, summary {
   display: block;
}
* {
        margin: 0;
        padding: 0;
}
html {
    height:100%;
    padding-left: 27px;
    padding-right: 27px;
    /*overflow-y: scroll;*/
    /*background-color: #fff;*/
    background: url(../images/back.png) fixed no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

body {
        position:relative;
        /*text-align: center;*/
        /*border: 2px solid black;*/
        /*background: #d5d6d6;*/
        margin: auto;
        min-height: 100%;
        max-width: 1300px;
        width: 90%;
        min-width: 1120px;
}
body {
    background: url(../images/back_2.png);
    box-shadow: 0 0 10px 10px #D1D1D1;
    /*margin: 0 27px 0 27px;*/
    /*padding-bottom: 70px;*/
}
/**------------------------ HEADER -------------------*/
#header {
    height: 140px;
    width: 100%;
    /*border: 1px green solid;*/
    box-shadow: 0px 5px 10px 10px gray;
    background: #91D4FC; /*#0075ba;*/
}
.left_ear, .right_ear {
    /*background: #fff;*/
    /*border: 1px solid black;*/
    height: 157px;
    width: 27px;
    position: absolute;
    /*top: 17px;*/
}
.left_ear {
    left:-27px;
    background: url(../images/top_ear_140x54.png) no-repeat;
}
.right_ear {
    right: -27px;
    background: url(../images/top_ear_140x54.png) no-repeat 100% 0%;
}

/*-------------------------------*/
/*.logo_wrapper {
    padding-left: 100px;
    width: 100%;
    border: 2px solid lime;
}*/
.left_logo {
    float: left;
    /*border: red 1px solid;*/
    background: url(../images/logo_left.png) no-repeat 10% 80%;
    width: 205px;
    height: 140px;
}
.top_logo {
    position: absolute;
    left: 155px;
    right: 0;
    height: 90px;
    /*width: 100%;*/
    /*border: 1px solid yellow;*/
    background: url(../images/logo_top.png) no-repeat 0% 80%;
    border-bottom: 3px solid #fff;
}
.slogan {
    position: absolute;
    /*background: #da2538;*/
    bottom: 55px;
    /*float:right;*/
    right: 10px;
    color: #000;
}
#search_input {
    /*float: right;*/
    padding: 3px;
    border: none;
    position: absolute;
    right: 10px;
    height: 20px;
    width: 200px;
    bottom: 7px;
    background: url(../images/search.png) no-repeat 98% #fff;
    box-shadow: 2px 2px 2px 0 #050505;
}
/**--------------------------------------CONTENT------------------------------------------**/
.content {
    /*background-color: #d5d6d6;*/
    margin-top: 30px;
    height: 100%;
    padding-bottom: 80px;
    /*border: 1px solid blue;*/
}
/**-------------------------------------------------------**/
/**----------------------- FOOTER ------------------------**/
#footer {
        background-color: #4d4d4d;
        position: absolute;
        bottom: 0px;
        /*border: 2px solid green;*/
        height: 70px;
        width: 100%;
        text-align: center;
        /*padding: 2px 10px;*/
        clear: both; /* Отменяем обтекание */
        box-shadow: 0 -5px 7px 0 gray;
}
.links {
    /*margin: auto;*/
    /*text-align: center;*/
    /*float: left;*/
}
.links a {
    display: inline-block;
    margin: 2px -2px 0px 2px;
}
.links img {
    /*max-width: 20%;*/
    /*height: 100%;*/
}

.f_wrap_img {
    display: inline-block;
    /*width: 19%;*/
}
/*--------*/
/*.f_right {
    float: right;
    font-size: 12px;
}*/

.f_left_ear, .f_right_ear {
    position: relative;
    width: 14px;
    height: 80px;
    top: -10px;
    /*border: 1px solid lime;*/
    background: url(../images/footer_ear.png) no-repeat;
}
.f_left_ear {
    left: -14px;
    float: left;
    background-position: 0% 0%;
}
.f_right_ear {
    float: right;
    left: 14px;
    background-position: 100% 0%;
}
/*----------------------- footer ------------------*/
.ff {
    width: 100%;
    position: absolute;
    bottom: -13px;
    text-align: center;
}
.ff small {
    padding: 0 30px 0 30px;
    font-size: 10px;
}
/**------------------------------------------------------------------------**/
#to_top {
    z-index: 100;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    display: block;
    background: url(../images/up.png) no-repeat center #ddd;
    border-radius: 30px;
    border: 2px solid #dadada;
    box-shadow: 1px 1px 2px 0px gray;
}
#to_top:hover {
    cursor: pointer;
    background:  url(../images/up.png) no-repeat center #ccc;
    /*box-shadow: 2px 2px 5px 0px gray;*/
}

