/*view page contact */
.contact-table td{
	padding: 10px;
	text-align: center;
}

.secondName{
	background: #FFC9C9;
}
.boss{
	font-weight: bold;
	background: #B0E6F8;
}
.contact-table tr{
	border: 1px solid white;
}
.contact-table tr:hover{
	border: 1px solid black;
}