/*view page contact*/
.contact-table{
	width: 100%;
	margin: 0 auto;
}
.contact-table td{
	padding: 10px;
	text-align: center;
	border-spacing: 0px;
}

.secondName{
	background: #FFC9C9;
}
.boss{
	font-weight: bold;
	background: #B0E6F8;
}
.contact-table tbody tr:hover td{
	background: #DAE9EF;
	cursor: pointer;
}
.contact-table thead,.contact-table tfoot{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	background: #D2D2D2;
}