.podpis{
   position: absolute;
   /*top: 530px;
   left: 50px;*/
   border: 1px solid rgb(194, 194, 194);
  /* width: 300px;*/
   border-top: none;
   text-align: center;
   padding: 6px 0 0 0;
   color: #000;
   background: #fff;
   text-indent: 0px;
}
/*--------- общее для всех страниц ---------*/
.parent, h2 {
     font-weight: bold;
     font-size: 1.2em;
   }
  .child {
     background: #fff;
     /*margin-left: 30px;*/
     margin-bottom: 30px;
     padding: 10px;
     border: 1px solid silver;

   }
   .table1 td {
     border: 1px solid gray;
     padding:7px;
     width: 50%;
   }
   .table2 {
      margin-left: 30px;
      font-style: italic;
      font-weight: bold;
   }
   h2 {
      cursor: pointer;
   }
/*-------------------------------------------------------------------*/
.edit_button {
    display: none;
    border: 1px solid #595959;
    border-radius: 5px;
    padding: 5px;
    background: #000;
    position: absolute;
    left: 30px;
    box-shadow: -5px -5px 10px 0px rgba(0,0,0,0.5);

}
.edit_button a{
    color: #fff;
    font-weight: bold;
}
.edit_button a:hover{
    color: #ff0;

}
.page:hover  .edit_button {
    display: block;
    transition: all .5s ease 0s;
}
/*----------------------------------------------------------*/
.page {
	padding: 0px 15px 15px 15px;
}

.border {
    /*border-radius: 5px;*/
    border: 1px solid silver;
    padding: 20px;
    margin: 0 0 15px 0px;
    text-align: justify;
    background-color: rgba(255, 255, 255, 1);
}
p {
    text-indent: 30px;
}
ul, ol {
    list-style: disc inside none;
    margin-left: 50px;
}
h1 {
    text-align: center;
    color: #fff;
    padding: 5px;
    background: #6389EB;
    /*margin-bottom: 15px;*/
}
