/*view page vakansii*/
.job-name,.job-pay{
	display: inline-block;
	width: 49%;
}
.job-field{
	padding-right: 10px;
	font-weight: bold;
}
.job{
	padding-bottom: 15px;
	font-size: 13pt;
}
.job-title{
	padding-bottom: 5px;
}
.job-title-text{
	color: #0A86FF;
	font-weight: bold;
}